body {
  margin: 0 20px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Helvetica Neue Black", "Arial Black", Arial, Helvetica,
    sans-serif;
}

#decoration {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #da291c;
}
